<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../container-operativa/container-operativa.html">
<link rel="import" href="../logout-user/logout-user.html">
<link rel="import" href="../mod-alias/mod-alias.html">
<link rel="import" href="../contratar-cuenta/contratar-cuenta.html">

<dom-module id="container-bank">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <table border="0">
             <tr>
                 <td align="left"><button class="btn btn-error" on-click="volverUser">Volver a usuario</a></button></td>
                 <td align="rigth"> <div class"py-5 text-center" name="logout" id="logout" >  <button class="btn btn-lg btn-secondary-outline btn-block" on-click="irlogOut"> <img class="mb-4" border="0" src="logout.png" align="center" alt="" width="72" height="72"></button></div></td>

            </tr>
            <tr><td class="col-md-8 col-xs-8">   <h2 >{{mensaje}}</h2> </td></tr>
  </table>





   <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <div component-name="cuentas"> <visor-cuentas userid="{{userid}}" id="visorcuentas"  on-eventoveromovimientoscuenta="verMovimientos" on-eventolanzaoperativa="abrirOperativa" on-eventovmodalias="irModAlias" on-eventocontratar="irContratar" on-eventotokenexpirado="irlogOut"></visor-cuentas></div>
      <div component-name="movimientos"> <visor-movimientos id="visormovimientos"  on-eventocloselistamovimientos="closelistamovimientos" on-eventotokenexpirado="irlogOut"></visor-movimientos></div>
      <div component-name="operar"> <container-operativa id="visoroperativa"  on-eventocloseoperativa="closeoperativa" on-eventotokenexpirado="irlogOut"></container-operativa></div>
      <div component-name="logout"> <logout-user id="logOut" on-eventologoutok="logOutOK" on-eventologoutko="logOutKO"></logout-user></div>
      <div component-name="modalias"> <mod-alias id="modAlias" on-eventochangeavolver="volverDeAlias" on-eventochangeaok="modAliasOK" on-eventochangeako="mostrarErrorUsuario" on-eventotokenexpirado="irlogOut"></mod-alias></div>
      <div component-name="contratar"> <contratar-cuenta id="contratar" on-eventochangeavolver="volverDeAlias" on-eventochangeaok="contratarOK" on-eventochangeako="mostrarErrorUsuario" on-eventotokenexpirado="irlogOut"></contratar-cuenta></div>
    </iron-pages>


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ContainerBank extends Polymer.Element {
       static get is() { return 'container-bank'; }
       static get properties() {
         return {
           userid: {
             type: Number,
             value : sessionStorage.getItem("userid")
           },
           componentName : {
             type : String,
             value : "cuentas"
           },
           mensaje : {
              type : String
            }
          };
       }

       volverUser()
       {
         console.log("container-bank volverUser ");
         this.mensaje="";
         this.dispatchEvent(new CustomEvent("eventovolveruser", {}));
       }


       //Ver movimientos de cuenta

       verMovimientos(e) {
         console.log("ContainerBank: verMovimientos");
         this.mensaje="";
         console.log(e);

         this.componentName ="movimientos";

         console.log("ContainerBank verMovimientos de iban:"+e.detail.iban);
         this.$.visormovimientos.obtenerMovimientos(e.detail.iban, e.detail.alias,e.detail.saldo);
         console.log("ContainerBank verMovimientos FIN");

       }

       //Acceder a pantalla de operativas
       abrirOperativa(e) {
         this.mensaje="";
         console.log("abrirOperativa iban:"+e.detail.iban);
         console.log("abrirOperativa saldo:"+e.detail.saldo);
         this.componentName = "operar";
         this.$.visoroperativa.iniciar(e.detail.iban,e.detail.alias,e.detail.saldo,e.detail.cuentas);
       }

       iniciar() {
         this.mensaje="";
        this.userid=sessionStorage.getItem("userid");
        console.log("container-bank iniciar " + this.userid);
        this.$.visorcuentas.reiniciar();
        this.componentName = "cuentas";

       }


       closelistamovimientos()
         {
            this.componentName = "cuentas";
            this.mensaje="";
         }

       /**
       * Cierra la ventana de hacer pagos y habilita la lista de cuentas
*/
       closeoperativa()
        {
         this.componentName = "cuentas";
         this.$.visorcuentas.reiniciar();
         this.mensaje="";
         }


         modAliasOK()
         {
           this.componentName = "cuentas";
           this.$.visorcuentas.reiniciar();
           this.mensaje="Alias modificado correctamente";
         }

         contratarOK()
         {
           this.componentName = "cuentas";
           this.$.visorcuentas.reiniciar();
           this.mensaje="Cuenta contratada correctamente";
         }

         volverDeAlias()
         {
           this.componentName = "cuentas";
         }
       /**
       * Se dispara cuando la petición al API de consultar usuario ha sido erronea
       */
       mostrarErrorUsuario(eventoError)
         {
         console.log("LISTA-CUENTAS.HTML: Hemos recibido error en la consulta del usuario: "+eventoError.detail.response)
         }

         irlogOut(e)
         {

           this.componentName ="logout";
          this.mensaje="";
           console.log("ContainerBank: irlogOut" );
           this.$.logOut.iniciar();
           console.log("ContainerBank irlogOut FIN");
         }

         logOutOK(e)
         {

           this.mensaje="";
           this.dispatchEvent(new CustomEvent("eventologoutok", {}));

         }

         logOutKO(e)
          {
          this.componentName ="cuentas";
           console.log("logOutKO ");
           this.mensaje="";

           }

           irModAlias(e)
           {
             this.componentName ="modalias";
             console.log("irModAlias");
             this.$.modAlias.iniciar(e.detail.iban,e.detail.userid,e.detail.alias);

            this.mensaje="";
           }

           irContratar(e)
           {
             this.componentName ="contratar";
             console.log("irContratar");
             this.$.contratar.iniciar(e.detail.userid);
          this.mensaje="";
           }




     }

     window.customElements.define(ContainerBank.is, ContainerBank);
   </script>
 </dom-module>
