<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="do-choice">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <div class="row">
     <h4 class="col-md-12 col-xs-12">Selección operativa:&nbsp;&nbsp;
      <button class="btn btn-primary" on-click="irTraspaso">Traspaso</button>
      <button class="btn btn-primary" on-click="irTransferencia">Transferencia</button>
      <button class="btn btn-primary" on-click="irRetirada">Retirada</button>
      <button class="btn btn-primary" on-click="irIngreso">Ingreso</button></h4>

   </div>



 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class DoChoice extends Polymer.Element {
       static get is() { return 'do-choice'; }
       static get properties() {
         return {
           };
       }

       irTraspaso(e)
       {
           console.log("DoChoice: irTraspaso");
           this.dispatchEvent(new CustomEvent("eventoirtraspaso"));
       }

       irTransferencia(e)
       {
           console.log("DoChoice: irTransferencia");
           this.dispatchEvent(new CustomEvent("eventoirtransferencia"));
       }

       irRetirada(e)
       {
           console.log("DoChoice: irRetirada");
           this.dispatchEvent(new CustomEvent("eventoirretirada"));
       }

       irIngreso(e)
       {
           console.log("DoChoice: irIngreso");
           this.dispatchEvent(new CustomEvent("eventoiringreso"));
       }

     }

     window.customElements.define(DoChoice.is, DoChoice);
   </script>
 </dom-module>
