<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="change-passwd">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.1/examples/checkout/form-validation.css" rel="stylesheet">

    <strong class="d-block text-gray-dark"><FONT COLOR="red">{{msgError}}</FONT></strong>


    <div class="col-md-12 order-md-1">
         <h4 class="mb-3">Cambio de clave</h4>
         <div class="needs-validation" novalidate>
           NIF: {{nif}}
           <div class="row">
             <div class="col-md-12 mb-3" align=left>
               <label for="firstName">Password actual</label>
               <input type="password" name="password"  placeholder="Password" class="form-control" value="{{password::input}}" required />
             </div>
             <div class="col-md-12 mb-3" align=left>
               <label for="firstName">Nueva password</label>
              <input type="password" name="password1"  placeholder="Password" class="form-control" value="{{password1::input}}" required />
             </div>
             <div class="col-md-12 mb-3" align=left>
               <label for="firstName">Repita nueva password</label>
               <input type="password" name="password2"  placeholder="Password" class="form-control" value="{{password2::input}}" required />
             </div>
          </div>
        </div>

        <div class="col-md-12 mb-6">
          <button class="btn btn-success" on-click="change"> Cambiar clave </button>
          <button class="btn btn-error" on-click="volver"> Volver </button>
        </div>

      </div>


      <iron-ajax
        id="doChange"
        url="[[servidor]]/apitechu/v2/changePasswd"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ChangePasswd extends Polymer.Element {
      static get is() { return 'change-passwd'; }
      static get properties() {
        return {
          nif: {
            type: String},
          password: {
            type: String},
          password1: {
            type: String},
          password2: {
            type: String},
          msgError : {
            type : String,
            value :""
            },
          servidor: {
            type: String,
            value : obtenerURL()
          }
        };
      }

      iniciar()
      {
        this.nif=sessionStorage.getItem("nif");
        this.msgError = "";
        this.password="";
        this.password1="";
        this.password2="";
      }
      change(){
        this.msgError = "";
        console.log("El usuario ha pulsado el boton");
        if ( this.password != null  && this.password1 != null  && this.password1 != "" && (this.password1 == this.password2))
        {
          var changeData = {
            "nif" : this.nif,
            "password": this.password,
            "password1": this.password1,
            "password2": this.password2
          };
          var token =sessionStorage.getItem("token");
          this.$.doChange.headers.token = token;
          this.$.doChange.body = JSON.stringify(changeData);
          this.$.doChange.generateRequest();
          console.log("Petición enviada");
        }
        else {
                  this.msgError= 'Debe informar todos los campos y las contraseñas deben ser iguales';
        }
      }

      manageAJAXResponse(data){
        console.log("ChangePasswd Recibida respuesta del servidor " + data.detail.status );
        if (data.detail.status==200)
        {
          console.log(data.detail.response);
          this.dispatchEvent(new CustomEvent("eventochangepok", {}));
          /*this.mensaje = data.detail.response.msg;
          this.isChanged = true;*/
          //window.location="/user/"+ data.detail.response.id;
          //this.mensaje = JSON.stringify(data.detail.response).msg;
        }
        else {
          this.dispatchEvent(new CustomEvent("eventochangepko", {"detail":{"mensaje":"Error en cambio de clave"}}));
        }
      }

      showError(error){
        console.log("Recibido error del servidor");
        if (error.detail.request.xhr.response.msg =="401")
          this.dispatchEvent(new CustomEvent("eventotokenexpirado"));
        else{
          this.msgError = error.detail.request.xhr.response.msg;
          console.log(error);
        }
        //this.dispatchEvent(new CustomEvent("eventochangepko", {"detail":{"mensaje":error.detail.request.xhr.response.msg}}));
      }

      volver(){
        this.msgError="";
        console.log("volver en changeP" );
        this.dispatchEvent(new CustomEvent("eventochangepvolver", {}));
        }
    }
    window.customElements.define(ChangePasswd.is,ChangePasswd);
  </script>
</dom-module>
