<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../login-usuarionif/login-usuarionif.html">
<link rel="import" href="../add-user/add-user.html">
<link rel="import" href="../modify-user/modify-user.html">
<link rel="import" href="../change-passwd/change-passwd.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../logout-user/logout-user.html">

<dom-module id="container-user">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <table border="0">
             <tr>
                 <td align="left"></td>
                 <td align="rigth"><div class"py-5 text-center" name="logout" id="logout" hidden >  <button class="btn btn-lg btn-secondary-outline btn-block" on-click="irlogOut"> <img border="0" class="mb-4" src="logout.png" align="center" alt="" width="72" height="72"></button></div></td>
            </tr>
            <tr><td class="col-md-8 col-xs-8">   <h2 >{{mensaje}}</h2> </td></tr>
  </table>




   <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <div component-name="login"> <login-usuarionif id="loginUser" on-eventoadduser="addUser" on-eventologinok="irVisorUsuario" on-eventologinKO="mostrarErrorUsuario" ></login-usuarionif></div>
      <div component-name="adduser"> <add-user id="addUser" on-eventoadduserko="mostrarErrorUsuario" on-eventoadduservolver="addUserVolver" on-eventoadduserok="altaOK"></add-user></div>
      <div component-name="modify"> <modify-user id="modify" on-eventomoduserko="mostrarErrorUsuario" on-eventomoduservolver="modUserVolver" on-eventomoduserok="modOK" on-eventochangepassword="changePassword" on-eventotokenexpirado="irlogOut"></modify-user></div>
      <div component-name="changeP"> <change-passwd id="changeP" on-eventochangepok="changePOK"  on-eventochangepko="mostrarErrorUsuario" on-eventochangepvolver="changePVolver" on-eventotokenexpirado="irlogOut"></change-passwd></div>
      <div component-name="visor"> <visor-usuario id="visorU" on-eventoirposicion="irPosicion" on-eventovisorko="mostrarErrorUsuario" on-eventologout="irlogOut" on-eventomodify="irModify" on-eventotokenexpirado="irlogOut"></visor-usuario></div>
      <div component-name="logout"> <logout-user id="logOut" on-eventologoutok="logOutOK" on-eventologoutko="logOutKO"></logout-user></div>
    </iron-page>
 </template>



 <script>
   /**
    * @customElement
    * @polymer
    */
   class ContainerUser extends Polymer.Element {
       static get is() { return 'container-user'; }
       static get properties() {
         return {
           componentName : {
             type : String,
             value : "login"
           },
           userid: {
             type: Number
           },
           mensaje : {
             type : String
           }

          };
       }
       /**
       * Se dispara cuando el login ha ido OK
       */

       irVisorUsuario(e)
       {

        this.componentName ="visor";

         console.log("Container-user: irVisorUsuario de "+e.detail.userid);
         this.$.visorU.iniciar(e.detail.userid);
         this.mensaje="";
         console.log("Container-user irVisorUsuario FIN");
          this.$.logout.hidden= false;
       }
       irModify(e)
       {

        this.componentName ="modify";

         console.log("Container-user: irModify de "+e.detail.userid);
         this.$.modify.iniciar(e.detail.userid,e.detail.nif,e.detail.email,e.detail.first_name,e.detail.last_name);
         this.mensaje="";
         console.log("Container-user irModify FIN");
       }

       changePVolver(e)
       {
         console.log("ContainerUser changePVolver");
         this.componentName ="modify";
         this.mensaje="";
       }


       irlogOut(e)
       {
        this.componentName ="logout";
         console.log("Container-user: irlogOut" );
         this.$.logOut.iniciar();
         console.log("Container-user irlogOut FIN");
       }

       logOutOK(e)
       {

        this.componentName ="login";
        this.mensaje="Gracias por usar nuestra banca on-line. ¡Hasta pronto!";
        this.$.loginUser.borrarDatos();
         console.log("Container-user: logOutOK");
         this.$.logout.hidden= true;

       }

       logOutKO(e)
        {
        this.componentName ="visor";
         console.log("container-user mostrarErrorUsuario: "+e.detail.mensaje);
         this.mensaje=e.detail.mensaje;
         }

         addUserVolver(e)
         {
          this.componentName ="login";
          this.mensaje="";
          console.log("Container-user: addUserVolver");
          this.$.logout.hidden= true;          }

          modUserVolver(e)
          {
           this.componentName ="visor";
           this.mensaje="";
           console.log("Container-user: modUserVolver");
           }


       changePassword(e)
       {

        this.componentName ="changeP";
        this.$.changeP.iniciar();
         console.log("Container-user: changePassword" );
       }

       addUser(e)
       {

        this.componentName ="adduser";
        this.mensaje="";
         console.log("Container-user: addUser");

       }

       altaOK(e)
       {
        this.componentName ="login";
         console.log("Container-user: altaOK");
         this.mensaje="Usuario dado de alta correctamente";
        this.$.logout.hidden= true;
       }

       changePOK(e)
       {

        this.componentName ="visor";

         console.log("Container-user: changePOK");
         this.mensaje="Clave modificada correctamente";
       }

       modOK(e)
       {

        this.componentName ="visor";

         console.log("Container-user: changePOK");
         this.mensaje="Usuario modificado correctamente";
         this.$.visorU.iniciarSinId();
       }

       irPosicion()
       {
         console.log("container-user irPosicion ");
         this.dispatchEvent(new CustomEvent("eventoirposicion", {}));
       }

       //Lo llamo desde container-global para iniciar el container-user con el visor usuario activado
      iniciarVisorUser(e)
      {
         console.log("container-user iniciarVisorUser: ");
         this.componentName ="visor";
       }



       mostrarErrorUsuario(e)
         {
         console.log("container-user mostrarErrorUsuario: "+e.detail.mensaje);
         this.mensaje=e.detail.mensaje;
         }

     }

     window.customElements.define(ContainerUser.is, ContainerUser);
   </script>
 </dom-module>
