<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../do-traspaso/do-traspaso.html">
<link rel="import" href="../do-transferencia/do-transferencia.html">
<link rel="import" href="../do-transferenciac/do-transferenciac.html">
<link rel="import" href="../do-retirada/do-retirada.html">
<link rel="import" href="../do-ingreso/do-ingreso.html">
<link rel="import" href="../do-choice/do-choice.html">

<dom-module id="container-operativa">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link href="https://getbootstrap.com/docs/4.1/examples/checkout/form-validation.css" rel="stylesheet">

   <strong class="d-block text-gray-dark"><FONT COLOR="red">{{mensaje}}</FONT></strong>

   <div class="col-md-12 order-md-1">
        <h4 class="mb-3">Operativa para la cuenta {{iban}}
          - Alias: {{alias}}
          - Saldo : [[formatearImporte(saldo)]]&nbsp;EUR&nbsp;&nbsp;<button class="btn btn-error" on-click="volverACuentas">Volver</button></h4>
        <div class="needs-validation" novalidate>
        </div>
  </div>



   <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <div component-name="traspaso"> <do-traspaso iban="{{iban}}" id="traspaso"  on-eventooperacionok="operacionOK" on-eventooperacionko="mostrarErrorUsuario" on-eventoirtransferencia="irTransferencia" on-eventoirretirada="irRetirada" on-eventoiringreso="irIngreso" on-eventotokenexpirado="tokenExpirado"></do-traspaso></div>
      <div component-name="transferencia"> <do-transferencia iban="{{iban}}" id="transferencia"  on-eventooperacionok="operacionOK" on-eventooperacionko="mostrarErrorUsuario" on-eventoirtraspaso="irTraspaso" on-eventoconfirmartransfer="irConfirmTransfer" on-eventoirretirada="irRetirada" on-eventoiringreso="irIngreso" on-eventotokenexpirado="tokenExpirado" ></do-transferencia></div>
      <div component-name="transferenciac"> <do-transferenciac id="transferenciac"  on-eventooperacionok="operacionOK" on-eventooperacionko="mostrarErrorUsuario" on-eventoirtraspaso="irTraspaso" on-eventoirretirada="irRetirada" on-eventoiringreso="irIngreso" on-eventomodtransfer="irModifyTransfer" on-eventotokenexpirado="tokenExpirado" ></do-transferenciac></div>
      <div component-name="ingreso"> <do-ingreso iban="{{iban}}" id="ingreso"  on-eventooperacionok="operacionOK" on-eventooperacionko="mostrarErrorUsuario" on-eventoirtraspaso="irTraspaso" on-eventoirtransferencia="irTransferencia" on-eventoirretirada="irRetirada" on-eventotokenexpirado="tokenExpirado" ></do-ingreso></div>
      <div component-name="retirada"> <do-retirada iban="{{iban}}" id="retirada"  on-eventooperacionok="operacionOK" on-eventooperacionko="mostrarErrorUsuario" on-eventoirtraspaso="irTraspaso" on-eventoirtransferencia="irTransferencia" on-eventoiringreso="irIngreso" on-eventotokenexpirado="tokenExpirado" ></do-retirada></div>
      <div component-name="choice"> <do-choice id="choice" iban="{{iban}}" on-eventoirtraspaso="irTraspaso" on-eventoirtransferencia="irTransferencia" on-eventoirretirada="irRetirada" on-eventoiringreso="irIngreso"></do-choice></div>
    </iron-pages>

    <iron-ajax
      id="getBalance"
      url="[[servidor]]/apitechu/v2/accounts/actualBalance/{{iban}}"
      handle-as="json"
      on-response="showBalance">
    </iron-ajax>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ContainerOperativa extends Polymer.Element {
       static get is() { return 'container-operativa'; }
       static get properties() {
         return {
           componentName : {
             type : String,
           },
           mensaje: {
             type: String,
           },
           iban : {
             type : String
           },
           alias : {
             type : String
           },
           saldo: {
             type: Number
           },
           accounts: {
             type: Array
             },
           servidor: {
             type: String,
             value : obtenerURL()
           }
          };
       }

       volverACuentas(e)
       {
           console.log("container-operativa: volverACuentas");
           console.log(e);
           this.dispatchEvent(new CustomEvent("eventocloseoperativa"));
       }


       //Inciar modulo operativa


       iniciar(iban,alias,saldo,cuentas)
       {
         console.log("ContainerOperativa iniciar con iban:" + iban + "y saldo: " + saldo );
         this.iban = iban;
         this.saldo = saldo;
         this.alias=alias;
         this.accounts=cuentas;
         this.componentName ="choice";
         this.$.getBalance.generateRequest();
         this.mensaje="";
       }


       irTraspaso(e)
       {
           console.log("Container-operativa: irTraspaso");
           this.componentName ="traspaso";
           this.$.traspaso.iniciar(this.iban,this.alias,this.saldo, this.accounts);
           this.mensaje="";
      }

       irTransferencia(e)
       {
           console.log("Container-operativa: irTransferencia");
           this.componentName ="transferencia";
           this.$.transferencia.iniciar(this.iban,this.alias,this.saldo);
           this.mensaje="";

       }

       irRetirada(e)
       {
         console.log("Container-operativa: irRetirada");
         this.componentName ="retirada";
         this.$.retirada.iniciar(this.iban,this.alias,this.saldo);
         this.mensaje="";
       }

       irIngreso(e)
       {
         console.log("Container-operativa: irIngreso");
         this.componentName ="ingreso";
         this.$.ingreso.iniciar(this.iban,this.alias,this.saldo);
         this.mensaje="";
       }

       operacionOK()
       {
         this.mensaje="La operacion se ha efectuado correctamente";
         this.$.getBalance.generateRequest();
         this.componentName ="choice";

       }

       irConfirmTransfer(e)
       {
         this.mensaje="";
         this.componentName ="transferenciac";
         console.log("container-operativa irConfirmTransfer concept " + e.detail.concept);
         console.log("container-operativa irConfirmTransfer otp " + e.detail.otp)
         console.log("container-operativa irConfirmTransfer exp " + e.detail.exp);
         this.$.transferenciac.iniciar(e.detail.iban,e.detail.currency,e.detail.amount,e.detail.amountOrg,e.detail.concept,e.detail.other_iban,e.detail.email,e.detail.otp,e.detail.saldo,e.detail.exp,e.detail.nombre);

       }

       irModifyTransfer(e)
       {
         this.mensaje="";
         this.componentName ="transferencia";
         this.$.transferencia.reiniciar(e.detail.iban,e.detail.currency,e.detail.amount,e.detail.concept,e.detail.other_iban,e.detail.saldo,e.detail.other_name);
       }

       /**
       * Se dispara cuando la petición al API de consultar usuario ha sido erronea
       */
       mostrarErrorUsuario(eventoError)
         {
         console.log("COntainer-operativa: Hemos recibido error : "+eventoError.detail.response);
         this.mensaje=eventoError.detail.mensaje;
         //this.mensaje="Error al realizar la operativa";
         // this.mensaje=eventoError.detail.request.xhr.response.msg;
         }

         showBalance(data){
           console.log("Recibida respuesta del servidor " + data.detail.status );
           if (data.detail.status==200)
           {
             console.log(data.detail.response);
             this.saldo=data.detail.response.saldo;
          }
        }

        tokenExpirado(err){
          this.dispatchEvent(new CustomEvent("eventotokenexpirado"));
        }

        formatearImporte(dato)
        {
          return (number_format(dato,2));
        }

     }

     window.customElements.define(ContainerOperativa.is, ContainerOperativa);
   </script>
 </dom-module>
