<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <div class="row">
        <h2 class="col-md-12">Login Usuario</h2>
      </div>
      <input type="email" name="email" placeholder="Email" class="form-control" required value="{{email::input}}"/>
      <input type="password" name="password"  placeholder="Password" class="form-control" value="{{password::input}}" required />

      <button class="btn btn-success" on-click="login"> Login </button>
      <h2 >{{mensaje}}</h2>
      <span hidden$="{{!isLogged}}" > Si esto sale nos vamos</span>

<!--url="http://rutapi-techugargallo.1d35.starter-us-east-1.openshiftapps.com/apitechu/v2/login"-->
      <iron-ajax
        id="doLogin"
        url="http://localhost:3000/apitechu/v2/login"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String},
          password: {
            type: String},
          mensaje: {
            type: String},
          isLogged: {
            type: Boolean,
            value: false}
        };
      }
      login(){
        console.log("El usuario ha pulsado el boton");
        var loginData = {
          "email" : this.email,
          "password": this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor " + data.detail.status );
        if (data.detail.status==200)
        {
          console.log(data.detail.response);
          sessionStorage.setItem("idUser",data.detail.response.id);
          //this.mensaje = data.detail.response.msg;
          //this.isLogged = true;
          window.location="/user/"+ data.detail.response.id;
          //this.mensaje = JSON.stringify(data.detail.response).msg;
        }
        else {
          this.mensaje = "Error en login";

        }
      }

      showError(error){
        console.log("Recibido error del servidor");
        console.log(error);
        this.mensaje = "Error en login";

      }
    }
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
