<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">


<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="getMovements"
      url="[[servidor]]/apitechu/v2/accounts/{{ibanCuenta}}"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </iron-ajax>

    <iron-ajax
      id="getMovementsAmount"
      url="[[servidor]]/apitechu/v2/accounts/amountFilter/{{ibanCuenta}}/{{lowAmount}}/{{highAmount}}"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </iron-ajax>

    <iron-ajax
      id="getMovementsDate"
      url="[[servidor]]/apitechu/v2/accounts/dateFilter/{{ibanCuenta}}/{{date1}}/{{date2}}"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </iron-ajax>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="dashboard.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.1/examples/checkout/form-validation.css" rel="stylesheet">

    <strong class="d-block text-gray-dark"><FONT COLOR="red">{{msgError}}</FONT></strong>

    <div class="col-md-12 order-md-1">
         <h4 class="mb-3">Movimientos de la cuenta {{ibanCuenta}}
           - Alias: {{alias}}
           - Saldo: [[formatearImporte(saldo)]]&nbsp;EUR&nbsp;&nbsp;</h4>
         <div class="needs-validation" novalidate>
           <div class="row">
             <div class="col-md-6 mb-3" align=left>
               <label for="firstName">Importe desde</label>
                   <input type="number" name="amountL" placeholder="Importe mínimo" class="form-control" value="{{lowAmount::input}}"/>
             </div>
             <div class="col-md-6 mb-3" align=left>
               <label for="lastName">Importe hasta</label>
               <input type="number" name="amountH" placeholder="Importe máximo" class="form-control" value="{{highAmount::input}}"/>
              </div>
              <div class="col-md-6 mb-3" align=left>
                <label for="lastName">Fecha desde</label>
                <input type="date" name="dateL" placeholder="Desde" class="form-control" value="{{date1::input}}"/>
               </div>
               <div class="col-md-6 mb-3" align=left>
                 <label for="lastName">Fecha hasta</label>
                 <input type="date" name="dateH" placeholder="Hasta" class="form-control" value="{{date2::input}}"/>
                </div>
            </div>
        </div>

        <!-- <button class="btn btn-primary btn-lg btn-block" on-click="filtrar">Filtrar</button> -->
        <button class="btn btn-success" on-click="filtrar">Filtrar movimientos</button>
        <button class="btn btn-error" on-click="volverACuentas">Volver</button>

        </div>


    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
         <tr>
           <th> <button class="btn btn-link" on-click="reOrdenar">Fecha</button></th>
           <th>Importe</th>
           <th>Tipo</th>
           <th>Subtipo</th>
           <th>Concepto</th>
           <th>Detalle</th>

         </tr>
       </thead>
       <tbody>

        <template is="dom-repeat" id="movementList" items="{{movements}}">
            <tr>
              <td>[[formatearFecha(item.date)]]</td>
              <td align="right">[[formatearImporte(item.amount)]]&nbsp;[[item.currency]]</td>
              <td>[[item.type]]</td>
              <td align="left">[[item.sub_type]]</td>
              <td align="left">[[item.concept]]</td>
              <td> <button class="btn btn-link" on-click="verDetalle">Ver</button></td>
            </tr>

          <tr>
            <td colspan="5">
              <div class"py-5 text-center" name="{{item._id.$oid}}" id="a{{item._id.$oid}}" hidden >
                <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
                    <div component-name="transferencia">Transferencia emitida. Cuenta beneficiaria: {{item.other_iban}}. Nombre beneficiario: {{item.other_name}}.</div>
                    <!-- <div component-name="transferenciad">Transferencia emitida. Cuenta beneficiaria: {{item.other_iban}}. Nombre beneficiario: {{item.other_name}}. Importe original:&nbsp;{{item.orig_amount}}&nbsp;{{item.orig_currency}}</div> -->
                    <div component-name="transferenciad">Transferencia emitida. Cuenta beneficiaria: {{item.other_iban}}. Nombre beneficiario: {{item.other_name}}. Importe original:&nbsp;[[formatearImporte(item.orig_amount)]]&nbsp;{{item.orig_currency}}.</div>
                    <div component-name="ingreso">Ingreso en efectivo.</div>
                    <div component-name="traspasoe"> Traspaso emitido. Cuenta beneficiaria: {{item.other_iban}}.</div>
                    <div component-name="traspasor"> Traspaso recibido. Cuenta ordenante: {{item.other_iban}}.</div>
                    <div component-name="reintegro">Reintegro en efectivo.</div>
                  </iron-pages>

                  <button class="btn btn-link" on-click="cerrar">Cerrar</button>
                <!-- Beneficiario: {{item.other_iban}} Nombre {{item.other_name}} Tipo: {{item.sub_type}}  <button class="btn-sm btn-link" on-click="cerrar">cerrar</button> -->
              </div>
            </td>
          </tr>
  </template>
</tbody>
</table>

    <array-selector id="selector" items="{{movements}}" selected="{{selected}}" multi toggle></array-selector>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          componentName:{
            type: String,
            value:""
          },
          msgError:{
            type: String,
            value:""
          },
          orden: {
            type: Number,
            value: -1
          },
          date1: {
            type: Date,
          },
          date2: {
            type: Date,
          },
          lowAmount: {
            type: Number,
          },
          highAmount: {
            type: Number,
          },
          saldo: {
            type: Number
          },
          ibanCuenta: {
            type: String},
          alias: {
              type: String},
          movements: {
            type: Array
          },
          servidor: {
              type: String,
              value : obtenerURL()
            },
          localizadorAnterior : {
              type: String
            }
          }
      }

    //llama al API
    obtenerMovimientos(iban, alias, saldo)
    {
      this.msgError= "";

      console.log("visor-movimientos solicita movimientos " + iban);
      this.ibanCuenta = iban;
      this.localizadorAnterior = "";
      this.saldo = saldo;
      this.alias = alias;
      this.movements=[];
      this.date1="";
      this.date2="";
      this.lowAmount="";
      this.highAmount="";
      var token =sessionStorage.getItem("token");
      console.log("token " + token);
      this.$.getMovements.headers.token = token;
      this.$.getMovements.headers.orden = this.orden;;
      this.$.getMovements.generateRequest();
    }

    filtrar()
    {
      this.msgError= "";
      var token =sessionStorage.getItem("token");
      console.log("token " + token);

      console.log("lowAmount " + this.lowAmount);
      console.log("highAmount " + this.highAmount);
      if (( (this.lowAmount != null && this.lowAmount != "")  || (this.highAmount!= null && this.highAmount!= "")) && ( (this.date1 != null && this.date1 != "" ) || (this.date1!= null && this.date1!= "") ) )
      {
        this.msgError= 'Filtre por importe o por fecha';
        console.log("Filtre por importe o por fecha");
      }
      else if ( (this.lowAmount != null && this.lowAmount != "")   && (this.highAmount!= null && this.highAmount!= "") && this.lowAmount<this.highAmount)
      {
        this.movements=[];
        this.localizadorAnterior = "";
        this.$.getMovementsAmount.headers.token = token;
        this.$.getMovementsAmount.headers.orden = this.orden;
        this.$.getMovementsAmount.generateRequest();
      }
      else if ( (this.date1 != null && this.date1 != "" )  && (this.date2 != null && this.date2 != "" ) && this.date1<this.date2)
      {
        this.movements=[];
        this.localizadorAnterior = "";
        this.$.getMovementsDate.headers.token = token;
        this.$.getMovementsDate.headers.orden = this.orden;
        this.$.getMovementsDate.generateRequest();
      }
      else{
          this.msgError= 'Debe informar correctamente los campos';
          console.log("Debe informar todos los campos");
      }

    }

    reOrdenar()
    {

      this.orden = this.orden *-1;
      this.msgError= "";
      var token =sessionStorage.getItem("token");
      console.log("token " + token);


      if (( (this.lowAmount != null && this.lowAmount != "")  || (this.highAmount!= null && this.highAmount!= "")) && ( (this.date1 != null && this.date1 != "" ) || (this.date1!= null && this.date1!= "") ) )
      {
        this.msgError= 'Filtre por importe o por fecha';
        console.log("Filtre por importe o por fecha");
      }
      else if ( this.lowAmount != null  && this.highAmount!= null && this.lowAmount<this.highAmount)
      {
        this.localizadorAnterior = "";
        this.movements=[];
        this.$.getMovementsAmount.headers.token = token;
        this.$.getMovementsAmount.headers.orden = this.orden;
        this.$.getMovementsAmount.generateRequest();
      }
      else if ( this.date1 != null  && this.date2!= null && this.date1<this.date2)
      {
        this.localizadorAnterior = "";
        this.movements=[];
        this.$.getMovementsDate.headers.token = token;
        this.$.getMovementsDate.headers.orden = this.orden;
        this.$.getMovementsDate.generateRequest();
      }
      else{
        this.localizadorAnterior = "";
        this.movements=[];
        this.$.getMovements.headers.token = token;
        this.$.getMovements.headers.orden = this.orden;;
        this.$.getMovements.generateRequest();
      }

    }

      showData(data){
        this.msgError= "";
        this.localizadorAnterior = "";
        console.log("visor-movimientos  showData: " + data.detail.response[0].date.toString());
        this.movements=data.detail.response;
      }

      showError(err){
        this.msgError= 'No se han podido recuperar los movimientos';
        if (err.detail.request.xhr.response.msg =="401")
          this.dispatchEvent(new CustomEvent("eventotokenexpirado"));
        console.log("visor-movimientos show error "+ err.detail.request.xhr.response.msg);
      }

      //  Abre el detalle del movimiento seleccionado
      verDetalle(e){
        if (this.localizadorAnterior!=null && this.localizadorAnterior!="")
        {
          var elementoA = this.shadowRoot.querySelector(this.localizadorAnterior);
          elementoA.hidden= true;
        }
        console.log("Se ha pulsado el botón verDetalle ");
        let item = this.$.movementList.itemForElement(e.target);
        this.$.selector.select(item);
        console.log(item._id.$oid);
        var localizador = '#a'+item._id.$oid;
        this.localizadorAnterior = localizador;
        if (item.sub_type == "Transferencia")
        {
          if ( (item.orig_currency!=null) && (item.orig_currency!="") && (item.orig_currency!="EUR"))
          {
            this.componentName="transferenciad";
          }
          else {
            this.componentName="transferencia";
          }

        }
        else if (item.sub_type == "Ingreso")
        {
          this.componentName="ingreso";
        }
        else if (item.sub_type == "Reintegro")
        {
          this.componentName="reintegro";
        }
        else if (item.sub_type == "Traspaso recibido")
        {
          this.componentName="traspasor";
        }
        else if (item.sub_type == "Traspaso emitido")
        {
          this.componentName="traspasoe";
        }

        var elemento = this.shadowRoot.querySelector(localizador);
        elemento.hidden= false;
      }

      //  Cierra el detalle del movimiento seleccionado
      cerrar(e){
        console.log("Se ha pulsado el botón cerrar");
        //this.componentName="";
        let item = this.$.movementList.itemForElement(e.target);
        this.$.selector.select(item);
        console.log(item._id.$oid);
        var localizador = '#a'+item._id.$oid;
        var elemento = this.shadowRoot.querySelector(localizador);
        elemento.hidden= true;
      }

    //  Redirige al listado de cuentas
    volverACuentas(e)
    {
        console.log("visor-movimientos: volverACuentas");
        console.log(e);
        this.msgError= "";

        this.dispatchEvent(new CustomEvent("eventocloselistamovimientos"));
    }

    formatearImporte(dato)
    {
      return (number_format(dato,2));
    }

    formatearFecha(dato)
    {
      return (date_format(dato));
    }
    getServidor()
    {
      return obtenerURL();
    }
}
    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
