<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="getMovements"
      url="http://localhost:3000/apitechu/v2/accounts/{{ibanCuenta}}"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </iron-ajax>

    <iron-ajax
      id="getMovementsAmount"
      url="http://localhost:3000/apitechu/v2/accounts/amountFilter/{{ibanCuenta}}/{{lowAmount}}/{{highAmount}}"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </iron-ajax>

    <iron-ajax
      id="getMovementsDate"
      url="http://localhost:3000/apitechu/v2/accounts/dateFilter/{{ibanCuenta}}/{{date1}}/{{date2}}"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </iron-ajax>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="dashboard.css" rel="stylesheet">
    <div class="row">
      <h3 class="col-md-12 col-xs-12">Movimientos de la cuenta {{ibanCuenta}}
        alias : {{alias}}
        saldo {{saldo}} &nbsp;&nbsp;<button class="btn btn-link" on-click="volverACuentas">Volver</button></h3>
    </div>
    <strong class="d-block text-gray-dark"><FONT COLOR="red">{{msgError}}</FONT></strong>
    <input type="number" name="amountL" placeholder="Importe mínimo" class="form-control" value="{{lowAmount::input}}"/>
    <input type="number" name="amountH" placeholder="Importe máximo" class="form-control" value="{{highAmount::input}}"/>
    <input type="date" name="dateL" placeholder="Desde" class="form-control" value="{{date1::input}}"/>
    <input type="date" name="dateH" placeholder="Hasta" class="form-control" value="{{date2::input}}"/>

    <button class="btn btn-link" on-click="filtrar">Filtrar</button>

    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
         <tr>
           <th>Fecha <button class="btn btn-link" on-click="reOrdenar">Ordenar</button></th>
           <th>Importe</th>
           <th>Tipo</th>
           <th>Concepto</th>
           <th>#</th>

         </tr>
       </thead>
       <tbody>

        <template is="dom-repeat" id="movementList" items="{{movements}}">
            <tr>
              <td>{{item.date}}</td>
              <td>{{item.amount}}&nbsp;{{item.currency}}</td>
              <td>{{item.type}}</td>
              <td>{{item.concept}}</td>
              <td> <button class="btn btn-link" on-click="verDetalle">Ver detalle</button></td>
            </tr>
          <!--div>
            Fecha: <span> {{item.date.$date}}</span> Importe: <span>{{item.amount}}&nbsp;{{item.currency}} </span>Tipo: <span>{{item.type}} </span>Concepto: <span>{{item.concept}}</span><button class="btn btn-link" on-click="verDetalle">Ver detalle</button>
          </div-->
          <tr>
            <td colspan="5">
              <div class"py-5 text-center" name="{{item._id.$oid}}" id="a{{item._id.$oid}}" hidden >
                Beneficiario: {{item.other_iban}} Nombre {{item.other_name}} Tipo: {{item.sub_type}}  <button class="btn-sm btn-link" on-click="cerrar">cerrar</button>
              </div>
            </td>
          </tr>
  </template>
</tbody>
</table>

    <array-selector id="selector" items="{{movements}}" selected="{{selected}}" multi toggle></array-selector>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          msgError:{
            type: String,
            value:""
          },
          orden: {
            type: Number,
            value: -1
          },
          date1: {
            type: Date,
          },
          date2: {
            type: Date,
          },
          lowAmount: {
            type: Number,
          },
          highAmount: {
            type: Number,
          },
          saldo: {
            type: Number
          },
          ibanCuenta: {
            type: String},
            alias: {
              type: String},
          movements: {
            type: Array/*,
            value() {
            return [];
          }*/
            }
          }
      }

    //llama al API
    obtenerMovimientos(iban, alias, saldo)
    {
      this.msgError= "";

      console.log("visor-movimientos solicita movimientos " + iban);
      this.ibanCuenta = iban;
      this.saldo = saldo;
      this.alias = alias;
      this.movements=[];
      this.$.getMovements.headers.orden = this.orden;;
      this.$.getMovements.generateRequest();
    }

    filtrar()
    {
      this.msgError= "";
      console.log("lowAmount " + this.lowAmount);
      console.log("highAmount " + this.highAmount);
      if (( (this.lowAmount != null && this.lowAmount != "")  || (this.highAmount!= null && this.highAmount!= "")) && ( (this.date1 != null && this.date1 != "" ) || (this.date1!= null && this.date1!= "") ) )
      {
        this.msgError= 'Filtre por importe o por fecha';
        console.log("Filtre por importe o por fecha");
      }
      else if ( this.lowAmount != null  && this.highAmount!= null && this.lowAmount<this.highAmount)
      {
        this.movements=[];
        this.$.getMovementsAmount.headers.orden = this.orden;
        this.$.getMovementsAmount.generateRequest();
      }
      else if ( this.date1 != null  && this.date2!= null && this.date1<this.date2)
      {
        this.movements=[];
        this.$.getMovementsDate.headers.orden = this.orden;
        this.$.getMovementsDate.generateRequest();
      }
      else{
          this.msgError= 'Debe informar correctamente los campos';
          console.log("Debe informar todos los campos");
      }

    }

    reOrdenar()
    {
      this.movements=[];
      this.orden = this.orden *-1;
      this.msgError= "";

      if (( (this.lowAmount != null && this.lowAmount != "")  || (this.highAmount!= null && this.highAmount!= "")) && ( (this.date1 != null && this.date1 != "" ) || (this.date1!= null && this.date1!= "") ) )
      {
        this.msgError= 'Filtre por importe o por fecha';
        console.log("Filtre por importe o por fecha");
      }
      else if ( this.lowAmount != null  && this.highAmount!= null && this.lowAmount<this.highAmount)
      {
        this.$.getMovementsAmount.headers.orden = this.orden;
        this.$.getMovementsAmount.generateRequest();
      }
      else if ( this.date1 != null  && this.date2!= null && this.date1<this.date2)
      {
        this.$.getMovementsDate.headers.orden = this.orden;
        this.$.getMovementsDate.generateRequest();
      }
      else{
        this.$.getMovements.headers.orden = this.orden;;
        this.$.getMovements.generateRequest();
      }

    }

      showData(data){
        this.msgError= "";

        console.log("visor-movimientos  showData: " + data.detail.response[0].date.toString());
        this.movements=data.detail.response;
      }

      showError(err){
        console.log("visor-movimientos show error ");
      }

      //  Abre el detalle del movimiento seleccionado
      verDetalle(e){
        console.log("Se ha pulsado el botón verDetalle ");
        let item = this.$.movementList.itemForElement(e.target);
        this.$.selector.select(item);
        console.log(item._id.$oid);
        var localizador = '#a'+item._id.$oid;
        var elemento = this.shadowRoot.querySelector(localizador);
        elemento.hidden= false;
      }

      //  Cierra el detalle del movimiento seleccionado
      cerrar(e){
        console.log("Se ha pulsado el botón cerrar");
        let item = this.$.movementList.itemForElement(e.target);
        this.$.selector.select(item);
        console.log(item._id.$oid);
        var localizador = '#a'+item._id.$oid;
        var elemento = this.shadowRoot.querySelector(localizador);
        elemento.hidden= true;
      }

    //  Redirige al listado de cuentas
    volverACuentas(e)
    {
        console.log("visor-movimientos: volverACuentas");
        console.log(e);
        this.msgError= "";

        this.dispatchEvent(new CustomEvent("eventocloselistamovimientos"));
    }
}
    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
