<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="login-usuarionif">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="signin.css" rel="stylesheet">
    <div class="form-signin">
      <h2 class="form-signin-heading">Login Usuario</h2>
      <strong class="d-block text-gray-dark"><FONT COLOR="red">{{msgError}}</FONT></strong>
      <input type="nif" name="nif" placeholder="NIF" class="form-control" required autofocus value="{{nif::input}}"/>
      <input type="password" name="password"  placeholder="Password" class="form-control" value="{{password::input}}" required />
      <button class="btn btn-lg btn-primary btn-block" on-click="login"> Login </button>
      <button class="btn btn-lg btn-secondary btn-block" on-click="addUser">Alta Usuario</button>
    </div>



      <iron-ajax
        id="doLogin"
        url="[[servidor]]/apitechu/v2/loginNIF"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuarionif extends Polymer.Element {
      static get is() { return 'login-usuarionif'; }
      static get properties() {
        return {
          nif: {
            type: String},
          password: {
            type: String},
          mensaje: {
            type: String},
          isLogged: {
            type: Boolean,
            value: false},
          msgError : {
            type : String,
            value :""
            },
          servidor: {
            type: String,
            value : obtenerURL()
          }
        };
      }

      //usuario pulsa login
      login(){
        console.log("El usuario ha pulsado el boton");
        this.msgError="";
        if ( this.nif != null  && this.password != null)
        {
          var loginData = {
            "nif" : this.nif,
            "password": this.password
          };
          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Petición enviada");

        }
        else
        {
            this.msgError= 'Debe informar todos los campos';
        }
    }

      //usuario pulsa alta
      addUser(){
        console.log("El usuario ha pulsado el boton");
        console.log("login-usuarionif addUser lanzo evento adduser");
        this.msgError="";
        this.dispatchEvent(new CustomEvent("eventoadduser", {}));
      }


      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor " + data.detail.status );
        if (data.detail.status==200)
        {
          console.log(data.detail.response);
          sessionStorage.setItem("token",data.detail.response.token);
          sessionStorage.setItem("userid",data.detail.response.id);
          sessionStorage.setItem("nif",data.detail.response.nif);
          sessionStorage.setItem("email",data.detail.response.email);
          //this.isLogged = true;
          //window.location="/user/"+ data.detail.response.id;
          console.log("login-usuarionif lanzo evento eventologinOK con id " + data.detail.response.id);
          this.dispatchEvent(new CustomEvent("eventologinok", {"detail":{"userid":data.detail.response.id}}));

        }
        else {
          console.log("login-usuarionif lanzo evento eventoLoginKO");
          this.dispatchEvent(new CustomEvent("eventologinko", {"detail":{"mensaje":"Error en Login"}}));

        }
      }

      showError(error){
        console.log("login-usuarionif Recibido error del servidor");
        console.log("internal code" +error.detail.request.xhr.response.msg)
        console.log(error);
        this.dispatchEvent(new CustomEvent("eventologinko", {"detail":{"mensaje":error.detail.request.xhr.response.msg}}));

      }

      borrarDatos()
      {
        this.password="";
        this.nif="";
      }
    }
    window.customElements.define(LoginUsuarionif.is, LoginUsuarionif);
  </script>
</dom-module>
