<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../container-user/container-user.html">
<link rel="import" href="../container-bank/container-bank.html">


<dom-module id="container-global">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <link href="signin.css" rel="stylesheet">

   <div class="form-signin">
      <h1><img class="mb-4" src="dakar.png" align="center" alt="" width="72" height="72"> BANK</h1>
      <h2 >{{mensaje}}</h2>
    </div>  

   <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
     <div component-name="containeruser"> <container-user id="user" on-eventoirposicion="irPosicion" ></container-user></div>
     <div component-name="containerbank"> <container-bank id="bank" on-eventovolveruser="volverUser" on-eventologoutok="logOutOK"></container-bank></div>
  </iron-pages>
 </template>



 <script>
   /**
    * @customElement
    * @polymer
    */
   class ContainerGlobal extends Polymer.Element {
       static get is() { return 'container-global'; }
       static get properties() {
         return {
           componentName : {
             type : String,
             value : "containeruser"
           },
           mensaje : {
             type : String
           }

          };
       }
       /**
       * Se dispara cuando el me voy a Posicion global
       */

       irPosicion(e)
       {

        this.componentName ="containerbank";
        this.$.bank.iniciar();

         console.log("ContainerGlobal: irPosicion");
        }

        volverUser(e)
        {
            console.log("ContainerGlobal: volverUser");
            this.componentName ="containeruser";
            this.$.user.iniciarVisorUser();
        }

         logOutOK(e)
         {
             console.log("ContainerGlobal: irLogin");
             this.componentName ="containeruser";
             this.$.user.logOutOK(e);
         }



     }

     window.customElements.define(ContainerGlobal.is, ContainerGlobal);
   </script>
 </dom-module>
