<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="dashboard.css" rel="stylesheet">
    <div class="row">
      <h3 class="col-md-12 col-xs-12">Visor de cuentas del usuario &nbsp; <button class="btn btn-primary" on-click="irContratar">Contratar nueva cuenta</button></h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
         <tr>
           <th>Alias</th>
           <th></th>
           <th>IBAN</th>
           <th>Saldo (EUR)</th>
            <th>Detalle</th>
           <th>Operativa</th>
         </tr>
       </thead>
       <tbody>


      <template is="dom-repeat" id="cuentas" items="{{accounts}}">
        <tr>
          <td align="left">[[item.alias]]</td>
          <td> <button class="btn btn-link" on-click="modAlias">Mod. Alias</button></td>
          <td>[[item.iban]]</td>
          <td align="right">[[formatearImporte(item.balance)]]</td>
          <td><button class="btn btn-link" on-click="verMovimientosCuenta">Ver movimientos</button></td>
          <td> <button class="btn btn-link" on-click="irOpera">Operar</button></td>
        </tr>
      </template>
    </tbody>
  </table>
  <array-selector id="selector" items="{{accounts}}" selected="{{selected}}" multi toggle></array-selector>

      <iron-ajax
        id="getUserAccounts"
        url="[[servidor]]/apitechu/v2/users/{{userid}}/accounts"
        handle-as="json"
        on-response="showData"
        on-error="showError">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type: Number,
            value : sessionStorage.getItem("userid")
          },
          accounts: {
            type: Array
            },
          servidor: {
            type: String,
            value : obtenerURL()
          }
        }
      }
      showData(data){
        console.log("Recibidos datos de usuario : " + data.detail.response);
        this.accounts=data.detail.response;
      }


    //  Redirige a listados de movimientos para la cuenta seleccionada

    verMovimientosCuenta(e)
    {
      let item = this.$.cuentas.itemForElement(e.target);
      this.$.selector.select(item);

        console.log("visor-cuenta: ir movimientos");
        console.log(e);
        console.log("visor-cuenta: ver movimientos de  con cuenta: "+ item.iban);
        //this.dispatchEvent(new CustomEvent("eventoveromovimientoscuenta", {"detail":{"iban":e.path[1].iban,"saldo":e.path[1].saldo}}));
        this.dispatchEvent(new CustomEvent("eventoveromovimientoscuenta", {"detail":{"iban":item.iban,"alias":item.alias,"saldo":item.balance}}));
    }



    //  Redirige a modificar Alias

    modAlias(e)
    {
      let item = this.$.cuentas.itemForElement(e.target);
      this.$.selector.select(item);

        console.log("visor-cuenta: ir modAlias");
        console.log(e);
        //this.dispatchEvent(new CustomEvent("eventoveromovimientoscuenta", {"detail":{"iban":e.path[1].iban,"saldo":e.path[1].saldo}}));
        this.dispatchEvent(new CustomEvent("eventovmodalias", {"detail":{"iban":item.iban,"userid":this.userid,"alias":item.alias}}));
    }

      //Redirige a operativas para la cuenta seleccionada
    irOpera(e)
    {
      let item = this.$.cuentas.itemForElement(e.target);
      this.$.selector.select(item);
      console.log("visor-cuenta:  operar con cuenta: "+ item.iban);
      this.dispatchEvent(new CustomEvent("eventolanzaoperativa", {"detail":{"iban":item.iban,"alias":item.alias,"saldo":item.balance,"cuentas":this.accounts}}));
    }

    irContratar(e)
    {
      console.log("visor-cuenta:  ir a contratar cuenta");
      this.dispatchEvent(new CustomEvent("eventocontratar", {"detail":{"userid":this.userid}}));
    }

    reiniciar()
    {
      this.accounts=[];
      console.log("visor-cuenta reiniciar");
      var token =sessionStorage.getItem("token");
      console.log("token " + token);
      this.$.getUserAccounts.headers.token = token;
      this.$.getUserAccounts.generateRequest();
    }

    formatearImporte(dato)
    {
      return (number_format(dato,2));
    }

    showError(err){

      if (err.detail.request.xhr.response.msg =="401")
        this.dispatchEvent(new CustomEvent("eventotokenexpirado"));
      console.log("visor-cuentas show error "+ err.detail.request.xhr.response.msg);
    }

}
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
