<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h1 class="col-md-3 col-xs-4">Visor de cuentas del usuario {{id}}</h2>
        <h2 class="col-md-4 col-xs-4">IBAN  {{iban}}</h2>
        <h2 class="col-md-5 col-xs-4">BALANCE {{balance}} </h2>
    </div>



      <iron-ajax
        auto=""
        id="getUserAccounts"
        url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
        handle-as="json"
        on-response="showData">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id: {
            type: Number},
          iban: {
              type: String},
          balance: {
              type: Number}
          }
      }
      showData(data){
        console.log("Recibidos datos de usuario : " + data.detail.response);
        this.balance= data.detail.response[0].iban;
        this.iban= data.detail.response[0].balance;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
