<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="signin.css" rel="stylesheet">

    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Visor del usuario</h1>
          <p class="lead text-muted">  Mi nombre es {{first_name}} [[last_name}} y mi email es {{email}}</p>
          <p>
            <button class="btn btn-primary my-2" on-click="modify">Modificar usuario</button>
            <button class="btn btn-primary my-2" on-click= "irPosicion">Posición global</button>
          </p>
        </div>
      </section>

    </div>

      <iron-ajax
        id="getUser"
        url="[[servidor]]/apitechu/v2/users/{{id}}"
        handle-as="json"
        on-response="showData"
        on-error="showError">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String},
          last_name: {
            type: String},
          id: {
            type: Number,
        },
          email: {
            type: String},
            nif: {
              type: String},
            servidor: {
              type: String,
              value : obtenerURL()
            }


        };
      }

      //Inicio visor, meto token y llamo a backend
      iniciar(id)
      {

        this.first_name="";
        this.last_name="";
        this.email="";
        console.log("visor-usuario inciar " + id);
        console.log("ide user se sessionStorage es " + sessionStorage.getItem("userid"));
        var token =sessionStorage.getItem("token");
        this.$.getUser.headers.token = token;
        this.id = id;
        this.nif= sessionStorage.getItem("nif");
        this.$.getUser.generateRequest();
      }

      //Inicio visor, meto token y llamo a backend. Cojo id de sesion
      iniciarSinId()
      {
        console.log("ide user se sessionStorage es " + sessionStorage.getItem("userid"));
        var token =sessionStorage.getItem("token");
        this.$.getUser.headers.token = token;
        this.id = sessionStorage.getItem("userid");
        this.nif= sessionStorage.getItem("nif");
        this.$.getUser.generateRequest();
      }

      // ir a modificar usuario
      modify()
      {
        console.log("visor-usuario modify ");
        var user= {"userid":  this.id,
        "nif":this.nif,
        "email": this.email,
        "first_name":this.first_name,
        "last_name": this.last_name}
        ;
        this.dispatchEvent(new CustomEvent("eventomodify", {"detail":user}));
      }

      //ir a Posicion d cuentas
      irPosicion()
      {
        console.log("visor-usuario irPosicion ");
        this.dispatchEvent(new CustomEvent("eventoirposicion", {}));
      }

      //mostrar datos de usuario
      showData(data){

        console.log(data.detail.response);

        console.log("Recibidos datos de usuario : " + data.detail.response[0].id + " " + data.detail.response[0].first_name + " " + data.detail.response[0].last_name + " " + data.detail.response[0].email);
        this.id= data.detail.response[0].id;
        this.email= data.detail.response[0].email;
        this.first_name= data.detail.response[0].first_name;
        this.last_name= data.detail.response[0].last_name;
        this.nif= data.detail.response[0].nif;

      }

    showError(error){
      console.log("visor usuario Recibido error del servidor");
      //this.mensaje = "Error en cambio de clave";
      console.log(error);
      if (error.detail.request.xhr.response.msg =="401")
        this.dispatchEvent(new CustomEvent("eventotokenexpirado"));
      else
        this.dispatchEvent(new CustomEvent("eventovisorko", {"detail":{"mensaje":"No se puede mostrar la posicion del usuario"}}));

    }

  }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
