<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="contratar-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.1/examples/checkout/form-validation.css" rel="stylesheet">


    <strong class="d-block text-gray-dark"><FONT COLOR="red">{{msgError}}</FONT></strong>

      <div class="col-md-12 order-md-1">
           <h4 class="mb-3">Contratar cuenta</h4>
           <div class="needs-validation" novalidate>
             <div class="row">
               <div class="col-md-12 mb-3" align=left>
                 <label for="firstName">Alias</label>
                 <input type="newalias" name="newalias" placeholder="Alias" class="form-control" required value="{{newalias::input}}"/>
              </div>
            </div>
          </div>

          <div class="col-md-12 mb-6">
            <button class="btn btn-success" on-click="change"> Contratar </button>
            <button class="btn btn-error" on-click="volver"> Volver </button>
          </div>

        </div>


<!--url="http://rutapi-techugargallo.1d35.starter-us-east-1.openshiftapps.com/apitechu/v2/login"-->
      <iron-ajax
        id="doContratarCuenta"
        url="[[servidor]]/apitechu/v2/addAccount"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ContratarCuenta extends Polymer.Element {
      static get is() { return 'contratar-cuenta'; }
      static get properties() {
        return {
          newalias: {
            type: String},
          userid: {
            type: String},
          msgError : {
            type : String,
            value :""
            },
          servidor: {
            type: String,
            value : obtenerURL()
          }
        };
      }

      iniciar(userid)
      {
        this.userid=userid;
        this.newalias="";
        this.msgError="";

        // console.log("logOutKO ");
     }


      change(){
        console.log("El usuario ha pulsado el boton");
        this.msgError="";

          var changeData = {
            "alias" : this.newalias,
            "id": this.userid
          };
          var token =sessionStorage.getItem("token");
          this.$.doContratarCuenta.headers.token = token;
          this.$.doContratarCuenta.body = JSON.stringify(changeData);
          this.$.doContratarCuenta.generateRequest();
          console.log("Petición enviada");

      }

      manageAJAXResponse(data){
        console.log("Modificar alias Recibida respuesta del servidor " + data.detail.status );
        if (data.detail.status==200)
        {
          console.log(data.detail.response);
          this.dispatchEvent(new CustomEvent("eventochangeaok", {}));
        }
        else {
          //this.dispatchEvent(new CustomEvent("eventochangeako", {"detail":{"mensaje":"Error en contratar cuenta"}}));
          this.msgError = "Error en contratar cuenta";
        }
      }

      showError(error){
        console.log("Recibido error del servidor");
        if (error.detail.request.xhr.response.msg =="401")
          this.dispatchEvent(new CustomEvent("eventotokenexpirado"));
        this.msgError = error.detail.request.xhr.response.msg;
        console.log(error);
        //this.dispatchEvent(new CustomEvent("eventochangeako", {"detail":{"mensaje":error.detail.request.xhr.response.msg}}));

      }

      volver(){
        console.log("volver en ContratarCuenta" );
        this.dispatchEvent(new CustomEvent("eventochangeavolver", {}));
        }
    }
    window.customElements.define(ContratarCuenta.is,ContratarCuenta);
  </script>
</dom-module>
