<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-user">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


   <iron-ajax
     id="dologoutUser"
     url="[[servidor]]/apitechu/v2/logout"
     content-type="application/json"
     handle-as="json"
     method="POST"
     on-response="showData"
     on-error="showError">
   </iron-ajax>


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LogoutUser extends Polymer.Element {
     static get is() { return 'logout-user'; }
     static get properties() {
       return {
         userid: {
           type: Number
         },
       servidor: {
         type: String,
         value : obtenerURL()
       }
       };
     }

     iniciar()
     {
       var id = sessionStorage.getItem("userid");
       console.log("logout-user iniciar " + id);
       // console.log("logout-user servidor " + this.servidor);
       var token =sessionStorage.getItem("token");
       this.$.dologoutUser.headers.token = token;
       var changeData = {
         "id" : id
       };
       this.$.dologoutUser.body = JSON.stringify(changeData);
       this.$.dologoutUser.generateRequest();

     }

     showData(data){

       console.log("Recibida respuesta del servidor " + data.detail.status );
       if (data.detail.status==200)
       {
         console.log(data.detail.response);
         console.log("logout-user lanzo evento eventologoutok" );
         //session.invalidate();
         sessionStorage.setItem("token","");
         sessionStorage.setItem("userid","");
         sessionStorage.setItem("nif","");
         sessionStorage.setItem("email","");
         this.dispatchEvent(new CustomEvent("eventologoutok", {"detail":{"mensaje":"Gracias por usar nuestra banca on-line. ¡Hasta pronto!"}}));


       }
       else {
         console.log("logout-user lanzo evento eventologoutko");
         this.dispatchEvent(new CustomEvent("eventologoutko", {"detail":{"mensaje":"Error en logout"}}));

       }


     }

   showError(error){
     console.log("logout-user Recibido error del servidor");
     //this.mensaje = "Error en cambio de clave";
     console.log(error);
     this.dispatchEvent(new CustomEvent("eventologoutko", {"detail":{"mensaje":error.detail.request.xhr.response.msg}}));

   }

   }

   window.customElements.define(LogoutUser.is, LogoutUser);
 </script>
</dom-module>
