<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<dom-module id="do-transferencia">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
         <h4 class="col-md-12 col-xs-12">&nbsp;&nbsp;
           <button class="btn btn-outline-primary" on-click="irTraspaso">Traspaso</button>
           <button class="btn btn-primary" >Transferencia</button>
           <button class="btn btn-outline-primary" on-click="irRetirada">Retirada</button>
           <button class="btn btn-outline-primary" on-click="irIngreso">Ingreso</button>
    </div>

    <div class="col-md-12 order-md-1">
      <strong class="d-block text-gray-dark"><FONT COLOR="red">{{msgError}}</FONT></strong>

    <div class="needs-validation" novalidate>
      <div class="row">
        <div class="col-md-6 mb-3" align=left>
          <label for="firstName">Cuenta Beneficiaria</label>
          <input type="text" name="ibanB" placeholder="Cuenta Beneficiaria" class="form-control" required autofocus value="{{ibanB::input}}"/>
        </div>
        <div class="col-md-6 mb-3" align=left>
          <label for="lastName">Nombre Beneficiario</label>
          <input type="text" name="nombre" placeholder="Nombre Beneficiario" class="form-control" required autofocus value="{{nombre::input}}"/>
         </div>
        <div class="col-md-6 mb-3" align=left>
          <label for="lastName">Importe</label>
        <input type="number" name="amount" placeholder="Importe" class="form-control" on-change="calculaFX" required autofocus value="{{amount::input}}"/>[[showImporteEUR]]
         </div>
         <div class="col-md-6 mb-3" align=left>
           <label for="lastName">Divisa</label>
           <vaadin-combo-box name="divisa" on-value-changed="calculaFX" id="fromm" items="[[divisas]]" item-value-path="codigo" label="Divisa" item-label-path="value">
                <template>
                    <paper-item-body two-line>
                      <div>[[item.codigo]] </div>
                    </paper-item-body>
                </template>
              </vaadin-combo-box>
            </div>
            <div class="col-md-6 mb-3" align=left>
              <label for="lastName">Concepto</label>
              <input type="text" name="concepto"  placeholder="Concepto" class="form-control" value="{{concepto::input}}"  />
             </div>
          </div>
       </div>


       <!-- <button class="btn btn-primary btn-lg btn-block" on-click="lanzaTransferencia">Continuar</button> -->
       <button class="btn btn-success" on-click="lanzaTransferencia">Continuar</button>

    </div>



<iron-ajax
  id="doTransferencia"
  url="[[servidor]]/apitechu/v2/makeTransfer0"
  content-type="application/json"
  method="POST"
  handle-as="json"
  on-response="manageAJAXResponse"
  on-error="showError">
</iron-ajax>

<iron-ajax
  id="getFx"
  url="http://free.currencyconverterapi.com/api/v5/convert?q={{divisa}}_EUR&compact=y"
  handle-as="json"
  on-response="showFx"
  on-error="showErrorFx">
</iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DoTransferencia extends Polymer.Element {
      static get is() { return 'do-transferencia'; }
      static get properties() {
        return {
          iban : {
            type : String
          },
          nombre : {
            type : String
          },
          alias : {
            type : String
          },
          saldo: {
            type: Number
          },
          divisa : {
              type : String
            },
          concepto : {
              type : String
            },
          amount: {
              type: Number
            },
          amountEUR: {
              type: Number
          },
          showImporteEUR : {
             type: String
          } ,
          ibanB : {
            type : String
          },
          msgError : {
            type : String,
            value :""
         },
         divisas: {
           type: Array
          },
        servidor: {
          type: String,
          value : obtenerURL()
        }
        }
      }

      iniciar(iban,alias,saldo)
      {
        console.log("DOTransfencia iniciar con iban:" + iban + "y saldo: " + saldo );
        this.msgError= "";
        this.iban = iban;
        this.saldo = saldo;
        this.alias=alias;
        this.amount="";
        this.concepto="";
        this.nombre="";
        this.divisa="";
        this.ibanB="";
        this.amountEUR="";
        this.showImporteEUR="";
        this.$.fromm.value="";

        this.divisas = [{codigo:"EUR",value:"EUR"},{codigo:"USD",value:"USD"},{codigo:"GBP",value:"GBP"},{codigo:"AUD",value:"AUD"}];
      }


      reiniciar(iban,currency,amount,concept,other_iban,saldo,nombre)
      {
        this.msgError= "";
        this.iban=iban;
        this.divisa=currency;
        this.amount=amount;
        this.concepto=concept;
        this.ibanB=other_iban;
        this.saldo=saldo;
        this.nombre=nombre;
      }

      lanzaTransferencia(){

        this.msgError= "";
        if ( this.amount != null   && this.amount != "" && this.ibanB != null  && this.ibanB != "" && this.divisa!= null  && this.divisa != ""  && this.amount>0)
        {
          console.log("El usuario ha pulsado el boton");
          var data = {
            "iban" : this.iban,
            "currency": this.divisa,
            "amount": this.amountEUR,
            "concept": this.concepto,
            "other_iban": this.ibanB,
            "saldo":this.saldo,
            "amountOrg": this.amount,
            "email" : sessionStorage.getItem("email"),
            "nombre": this.nombre
          };
          console.log(data);
          var token =sessionStorage.getItem("token");
          console.log("token " + token);
          this.$.doTransferencia.headers.token = token;
          this.$.doTransferencia.body = JSON.stringify(data);
          this.$.doTransferencia.generateRequest();
          console.log("Petición enviada");
        }
        else{
            this.msgError= 'Debe informar todos los campos';
            console.log("Debe informar todos los campos");
        }
      }

      manageAJAXResponse(data){
        this.msgError= "";
        console.log("do-transferencia Recibida respuesta del servidor " + data.detail.status );
        if (data.detail.status==200)
        {
          console.log(data.detail.response);
          var datos = {
            "iban" : this.iban,
            "currency": this.divisa,
            "amount": this.amountEUR,
            "amountOrg": this.amount,
            "concept": this.concepto,
            "other_iban": this.ibanB,
            "email" : sessionStorage.getItem("email"),
            "otp": data.detail.response.otp,
            "exp": data.detail.response.exp,
            "saldo": this.saldo,
            "nombre":this.nombre
          }
            console.log("do-transferencia manageAJAXResponse otp "+ data.detail.response.otp);
            console.log("do-transferencia manageAJAXResponse exp "+ data.detail.response.exp);
          //this.dispatchEvent(new CustomEvent("eventooperacionok", {}));
          this.dispatchEvent(new CustomEvent("eventoconfirmartransfer", {"detail":datos}))
        }
        else {
          this.dispatchEvent(new CustomEvent("eventooperacionko", {"detail":{"mensaje":"Error en transferencia"}}));

        }
      }

      showError(error){
        console.log("Recibido error del servidor");
        //this.mensaje = "Error en cambio de clave";
        console.log(error);
        if (error.detail.request.xhr.response.msg =="401")
          this.dispatchEvent(new CustomEvent("eventotokenexpirado"));
        else
          this.dispatchEvent(new CustomEvent("eventooperacionko", {"detail":{"mensaje":error.detail.request.xhr.response.msg}}));

      }

      irTraspaso(e)
      {
          this.msgError= "";
          console.log("DoTransferencia: irTraspaso");
          this.dispatchEvent(new CustomEvent("eventoirtraspaso"));
      }

      irRetirada(e)
      {
          this.msgError= "";
          console.log("DoTransferencia: irRetirada");
          this.dispatchEvent(new CustomEvent("eventoirretirada"));
      }

      irIngreso(e)
      {
          this.msgError= "";
          console.log("DoTransferencia: irIngreso");
          this.dispatchEvent(new CustomEvent("eventoiringreso"));
      }

      calculaFX()
      {
          this.amountEUR=this.amount;
          this.showImporteEUR="";
          this.msgError= '';
          console.log("DoTransferencia: calculaFX");
          this.divisa= this.$.fromm.value;
          if(this.divisa!=null && this.divisa!="" && this.divisa!="EUR" && this.amount!=null && this.amount!="" )
          {
              this.$.getFx.generateRequest();
          }

      }


      showFx(data){
        this.msgError= "";
        var fx =0;
        console.log("do-transferencia showFx Recibida respuesta del servidor " + data.detail.status );
        if (data.detail.status==200)
        {
            if (this.divisa =="USD")
            {
              fx = data.detail.response.USD_EUR.val;
            }
            if (this.divisa =="GBP")
            {
              fx = data.detail.response.GBP_EUR.val;
            }
            if (this.divisa =="AUD")
            {
              fx = data.detail.response.AUD_EUR.val;
            }
            this.amountEUR =this.amount*fx;
            this.showImporteEUR = number_format(this.amountEUR,2) + " EUR" ;

        }
        else {
            this.msgError= 'No se puede recuperar el contravalor en EUR';

        }
      }

      showErrorFx(error){
        console.log("Recibido error del servidor");
        //this.mensaje = "Error en cambio de clave";
        console.log(error);
        this.msgError= 'No se puede recuperar el contravalor en EUR';

      }

      formatearImporte(dato)
      {
        return (number_format(dato,2));
      }



    }



    window.customElements.define(DoTransferencia.is,DoTransferencia);
  </script>
</dom-module>
