<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="modify-user">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link href="https://getbootstrap.com/docs/4.1/examples/checkout/form-validation.css" rel="stylesheet">

    <strong class="d-block text-gray-dark"><FONT COLOR="red">{{msgError}}</FONT></strong>

    <div class="col-md-12 order-md-1">
         <h4 class="mb-3">Modificar usuario</h4>
         <div class="needs-validation" novalidate>
           NIF: {{nif}}
           <div class="row">
             <div class="col-md-12 mb-3" align=left>
               <label for="firstName">Nombre</label>
               <input type="text" name="first_name" placeholder="Nombre" class="form-control" required="required" value="{{first_name::input}}"/>
             </div>
             <div class="col-md-12 mb-3" align=left>
               <label for="firstName">Apellido</label>
                 <input type="text" name="last_name" placeholder="Apellido" class="form-control" required value="{{last_name::input}}"/>
             </div>
             <div class="col-md-12 mb-3" align=left>
               <label for="firstName">Email</label>
               <input type="email" name="email" placeholder="Email" class="form-control" required value="{{email::input}}"/>
             </div>
          </div>
        </div>

        <div class="col-md-12 mb-12">
        <button class="btn btn-success" on-click="modify"> Guardar </button>
        <button class="btn btn-success" on-click="changeP">Cambiar mi clave</button>
        <button class="btn btn-error" on-click="volver"> Volver </button>
        </div>

      </div>



      <!--div class="row">
        <h2 class="col-md-12">Modificar usuario</h2>
      </div>
       <strong class="d-block text-gray-dark"><FONT COLOR="red">{{msgError}}</FONT></strong>
       NIF: {{nif}}
      <input type="text" name="first_name" placeholder="Nombre" class="form-control" required="required" value="{{first_name::input}}" data-validation-required-message="Please enter your name." />
      <input type="text" name="last_name" placeholder="Apellido" class="form-control" required value="{{last_name::input}}"/>
      <input type="email" name="email" placeholder="Email" class="form-control" required value="{{email::input}}"/>
      <button class="btn btn-success" on-click="modify"> Guardar </button>
      <button class="btn btn-info" on-click="changeP">Cambiar mi clave</button>
      <button class="btn btn-error" on-click="volver"> Volver </button-->


<!--url="http://rutapi-techugargallo.1d35.starter-us-east-1.openshiftapps.com/apitechu/v2/login"-->
      <iron-ajax
        id="doModify"
        url="[[servidor]]/apitechu/v2/modifyUser"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModifyUser extends Polymer.Element {
      static get is() { return 'modify-user'; }
      static get properties() {
        return {
          id: {
            type: String},
          nif:{
            type: String},
          email: {
            type: String},
          first_name: {
            type: String},
          last_name: {
            type: String},
          msgError : {
            type : String,
            value :""
            },
          servidor: {
            type: String,
            value : obtenerURL()
          }
        };
      }

      iniciar(userid,nif,email,first_name,last_name)
      {
        this.msgError="";
        this.id=userid;
        this.nif = nif;
        this.first_name=first_name;
        this.last_name= last_name;
        this.email= email;
      }

      modify(){
        this.msgError="";
        console.log("El usuario ha pulsado el boton");

      if ( this.first_name != null && this.first_name != "" && this.last_name != "" && this.email != null  && this.email != "")
      {
        var emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
         //Se muestra un texto a modo de ejemplo, luego va a ser un icono
         if (emailRegex.test(this.email)) {

                     var newUser = {
                         "id": this.id,
                         "first_name": this.first_name,
                         "last_name": this.last_name,
                         "email" : this.email
                   };
                   this.$.doModify.body = JSON.stringify(newUser);
                   this.$.doModify.generateRequest();
                   console.log("Petición enviada");
         } else {
           this.msgError= 'Debe informar un email correcto';
         }
      }
      else
      {

          this.msgError= 'Debe informar todos los campos';
      }
    }

    changeP()
    {
      console.log("visor-usuario changePass ");
      this.dispatchEvent(new CustomEvent("eventochangepassword", {}));
    }



      volver(){
        this.msgError="";
        this.dispatchEvent(new CustomEvent("eventomoduservolver", {}));
        }

      manageAJAXResponse(data){
        //console.log("Recibida respuesta del servidor " + data.detail.status );
        if (data.detail.status==200)
        {
          console.log(data.detail.response);
          this.dispatchEvent(new CustomEvent("eventomoduserok", {}));

        }
        else {
          this.dispatchEvent(new CustomEvent("eventomoduserko", {"detail":{"mensaje":"Error en alta usuario"}}));

        }
      }

      showError(error){
        console.log("Recibido error del servidor");
        console.log(error);
        if (error.detail.request.xhr.response.msg =="401")
          this.dispatchEvent(new CustomEvent("eventotokenexpirado"));
        else
          this.dispatchEvent(new CustomEvent("eventomoduserko", {"detail":{"mensaje":error.detail.request.xhr.response.msg}}));

      }
    }
    window.customElements.define(ModifyUser.is,ModifyUser);
  </script>
</dom-module>
