<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="mod-alias">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.1/examples/checkout/form-validation.css" rel="stylesheet">

    <strong class="d-block text-gray-dark"><FONT COLOR="red">{{msgError}}</FONT></strong>

      <div class="col-md-12 order-md-1">
           <h4 class="mb-3">Modificar alias de cuenta {{iban}} &nbsp;- {{alias}}</h4>
           <div class="needs-validation" novalidate>
             <div class="row">
               <div class="col-md-12 mb-3" align=left>
                 <label for="firstName">Nuevo Alias</label>
                  <input type="newalias" name="newalias" placeholder="Alias" class="form-control" required value="{{newalias::input}}"/>
               </div>
            </div>
          </div>
          <div class="col-md-12 mb-6">
            <button class="btn btn-success" on-click="change"> Modificar </button>
            <button class="btn btn-error" on-click="volver"> Volver </button>
          </div>
        </div>


<!--url="http://rutapi-techugargallo.1d35.starter-us-east-1.openshiftapps.com/apitechu/v2/login"-->
      <iron-ajax
        id="doModalias"
        url="[[servidor]]/apitechu/v2/modifyAccount"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModAlias extends Polymer.Element {
      static get is() { return 'mod-alias'; }
      static get properties() {
        return {
          newalias: {
            type: String},
          alias: {
              type: String},
          iban: {
            type: String},
          userid: {
            type: String},
          msgError : {
            type : String,
            value :""
            },
          servidor: {
            type: String,
            value : obtenerURL()
          }
        };
      }

      iniciar(iban, userid,alias)
      {
        this.iban = iban;
        this.userid=userid;
        this.alias=alias;
        this.newalias="";
        this.msgError="";
        // console.log("logOutKO ");
     }


      change(){
        console.log("El usuario ha pulsado el boton");
        this.msgError="";
        if (this.newalias!=null && this.newalias!="")
        {
          var changeData = {
            "alias" : this.newalias,
            "iban": this.iban
          };
          var token =sessionStorage.getItem("token");
          this.$.doModalias.headers.token = token;
          this.$.doModalias.body = JSON.stringify(changeData);
          this.$.doModalias.generateRequest();
          console.log("Petición enviada");
        }
        else {
            this.msgError="Rellene el formulario";
        }
      }

      manageAJAXResponse(data){
        console.log("Modificar alias Recibida respuesta del servidor " + data.detail.status );
        if (data.detail.status==200)
        {
          console.log(data.detail.response);
          this.dispatchEvent(new CustomEvent("eventochangeaok", {}));
        }
        else {
          this.dispatchEvent(new CustomEvent("eventochangeako", {"detail":{"mensaje":"Error en modificar cuenta"}}));
        }
      }

      showError(error){
        console.log("Recibido error del servidor");
        if (error.detail.request.xhr.response.msg =="401")
          this.dispatchEvent(new CustomEvent("eventotokenexpirado"));
        else {
          console.log(error);
          this.dispatchEvent(new CustomEvent("eventochangeako", {"detail":{"mensaje":error.detail.request.xhr.response.msg}}));

        }

      }

      volver(){
        this.msgError="";
        console.log("volver en ModAlias" );
        this.dispatchEvent(new CustomEvent("eventochangeavolver", {}));
        }
    }
    window.customElements.define(ModAlias.is,ModAlias);
  </script>
</dom-module>
