<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<dom-module id="do-traspaso">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
         <h4 class="col-md-12 col-xs-12">&nbsp;&nbsp;
         <button class="btn btn-primary">Traspaso</button>
         <button class="btn btn-outline-primary" on-click="irTransferencia">Transferencia</button>
         <button class="btn btn-outline-primary" on-click="irRetirada">Retirada</button>
         <button class="btn btn-outline-primary" on-click="irIngreso">Ingreso</button></h4>

    </div>

  <div class="col-md-12 order-md-1">
    <strong class="d-block text-gray-dark"><FONT COLOR="red">{{msgError}}</FONT></strong>

  <div class="needs-validation" novalidate>
    <div class="row">
      <div class="col-md-6 mb-3" align=left>
        <label for="firstName">Importe (EUR)</label>
        <input type="number" name="amount" placeholder="Importe en EUR" class="form-control" required autofocus value="{{amount::input}}"/>
      </div>
      <div class="col-md-6 mb-3" align=left>
        <label for="lastName">Concepto</label>
        <input type="text" name="concepto"  placeholder="Concepto" class="form-control" value="{{concepto::input}}"  />
       </div>
      <div class="col-md-6 mb-3" align=left>
        <label for="lastName">Cuenta destino</label>
        <vaadin-combo-box name="ibanB" id="fromm" items="[[accounts]]" item-value-path="iban" item-label-path="iban" class="form-control" >
             <template>
                 <paper-item-body two-line>
                   <!-- <div>Cuenta: [[item.alias]]&nbsp; IBAN: [[item.iban]]&nbsp;Saldo: [[formatearImporte(item.balance)]]&nbsp;EUR</div> -->
                   <div align="left">Alias: [[item.alias]]&nbsp; IBAN: [[item.iban]]&nbsp;</div>
                   <div align="left">Saldo: [[formatearImporte(item.balance)]]&nbsp;EUR</div>
                 </paper-item-body>
             </template>
           </vaadin-combo-box>
       </div>
     </div>
   </div>

     <!-- <button class="btn btn-primary btn-lg btn-block" on-click="lanzaTraspaso">Confirmar</button> -->
     <button class="btn btn-success" on-click="lanzaTraspaso">Confirmar</button>


  </div>




<iron-ajax
  id="doTraspaso"
  url="[[servidor]]/apitechu/v2/makeInternalTransfer"
  content-type="application/json"
  method="POST"
  handle-as="json"
  on-response="manageAJAXResponse"
  on-error="showError">
</iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DoTraspaso extends Polymer.Element {
      static get is() { return 'do-traspaso'; }
      static get properties() {
        return {
          iban : {
            type : String
          },
          alias : {
            type : String
          },
          saldo: {
            type: Number
          },
          accounts: {
            type: Array
          },
          divisa : {
              type : String,
              value:"EUR"
            },
          concepto : {
              type : String
            },
          amount: {
              type: Number
            },
          ibanB : {
            type : String
          },
          msgError : {
            type : String,
            value :""
            },
          servidor: {
            type: String,
            value : obtenerURL()
          }
        }
      }

      iniciar(iban,alias,saldo,cuentas)
      {
        this.msgError= '';
        console.log("DOTRASPASO iniciar con iban:" + iban + "y saldo: " + saldo );
        this.iban = iban;
        this.saldo = saldo;
        this.alias=alias;
        this.amount="";
        this.concepto="";
        this.ibanB="";
        this.$.fromm.value="";
        var cuentastaF = [];
        var index=0;
        //Filtro para no rellenar el comco con la cuenta origen
        cuentas.forEach( function(valor, indice, array) {
            if (iban!=valor.iban)
            {
              cuentastaF[index]=valor;
              index =index+1;
            }
          });
          this.accounts=cuentastaF;
      }



      lanzaTraspaso(){
        this.msgError= '';
        console.log("El usuario ha pulsado el boton");
        if ( this.amount != null  && this.$.fromm.value != null && this.$.fromm.value.length>0 && this.amount>0)
        {
          var data = {
            "iban" : this.iban,
            "currency": this.divisa,
            "amount": this.amount,
            "concept": this.concepto,
            "other_iban": this.$.fromm.value
          };
          //console.log(this.$.fromm.value);
          console.log(data);
          var token =sessionStorage.getItem("token");
          console.log("token " + token);
          this.$.doTraspaso.headers.token = token;
          this.$.doTraspaso.body = JSON.stringify(data);
          this.$.doTraspaso.generateRequest();
          console.log("Petición enviada");
        }
        else{
            this.msgError= 'Debe informar todos los campos';
            console.log("Debe informar todos los campos");
        }

      }

      manageAJAXResponse(data){
        console.log("do-traspaso Recibida respuesta del servidor " + data.detail.status );
        if (data.detail.status==200)
        {
          console.log(data.detail.response);
          this.dispatchEvent(new CustomEvent("eventooperacionok", {}));

        }
        else {
          this.dispatchEvent(new CustomEvent("eventooperacionko", {"detail":{"mensaje":"Error en traspaso"}}));

        }
      }

      showError(error){
        console.log("Recibido error del servidor");
        //this.mensaje = "Error en cambio de clave";
        console.log(error);
        if (error.detail.request.xhr.response.msg =="401")
          this.dispatchEvent(new CustomEvent("eventotokenexpirado"));
        else{
          this.dispatchEvent(new CustomEvent("eventooperacionko", {"detail":{"mensaje":error.detail.request.xhr.response.msg}}));
        }

      }

      irTransferencia(e)
      {
          console.log("DoTraspaso: irTransferencia");
          this.msgError= '';
          this.dispatchEvent(new CustomEvent("eventoirtransferencia"));
      }

      irRetirada(e)
      {
          console.log("DoTraspaso: irRetirada");
          this.msgError= '';
          this.dispatchEvent(new CustomEvent("eventoirretirada"));
      }

      irIngreso(e)
      {
          console.log("DoTraspaso: irIngreso");
          this.msgError= '';
          this.dispatchEvent(new CustomEvent("eventoiringreso"));
      }

      formatearImporte(dato)
      {
        return (number_format(dato,2));
      }

    }



    window.customElements.define(DoTraspaso.is,DoTraspaso);
  </script>
</dom-module>
