<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!--link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../bower_components/paper-combo-box/paper-combo-box.html"-->
<dom-module id="do-transferenciac">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
         <h4 class="col-md-12 col-xs-12">&nbsp;&nbsp;
           <button class="btn btn-outline-primary" on-click="irTraspaso">Traspaso</button>
           <button class="btn btn-primary" >Transferencia</button>
           <button class="btn btn-outline-primary" on-click="irRetirada">Retirada</button>
           <button class="btn btn-outline-primary" on-click="irIngreso">Ingreso</button>
    </div>

    <div class="col-md-12 order-md-1">

    <h6 align="left">Datos de la transferencia a realizar:</h6>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
               <tbody>
                 <tr>
                   <td>Cuenta destino</td>
                   <td>{{ibanB}}</td>
                 </tr>
                 <tr>
                   <td>Nombre beneficiario</td>
                   <td>{{other_name}}</td>
                 </tr>
                 <tr>
                   <td>Importe</td>
                   <td>{{formatearImporte(amount)}} &nbsp; EUR &nbsp;{{showImporteOrg}}</td>
                 </tr>
                 <tr>
                   <td>Concepto</td>
                   <td>{{concepto}}</td>
                 </tr>
               </tbody>
        </table>
    </div>

    <input type="text" name="clave"  placeholder="Introduzca clave de confirmación" class="form-control" value="{{clave::input}}"/>

   <!-- <button class="btn btn-success btn-block" on-click="lanzaTransferencia">Confirmar</button> &nbsp; <button class="btn btn-error btn-block" on-click="modify">Modificar</button> -->

   <button class="btn btn-success" on-click="lanzaTransferencia">Confirmar</button> &nbsp; <button class="btn btn-error" on-click="modify">Modificar</button>

 </div>


<iron-ajax
  id="doTransferenciac"
  url="[[servidor]]/apitechu/v2/makeTransfer"
  content-type="application/json"
  method="POST"
  handle-as="json"
  on-response="manageAJAXResponse"
  on-error="showError">
</iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DoTransferenciac extends Polymer.Element {
      static get is() { return 'do-transferenciac'; }
      static get properties() {
        return {
          other_name : {
            type: String
          },
          iban : {
            type : String
          },
          alias : {
            type : String
          },
          saldo: {
            type: Number
          },
          divisa : {
              type : String
            },
          concepto : {
              type : String
            },
          amount: {
              type: Number
            },
          amountOrg: {
            type: Number
          },
          ibanB : {
            type : String
          },
          other_iban : {
            type : String
          },
          email : {
            type : String
          },
          otp : {
            type : String
          },
          exp : {
            type : Number
          },
          clave : {
            type : String
          },
          showImporteOrg : {
            type : String
          },
        servidor: {
          type: String,
          value : obtenerURL()
        }
        }
      }


      iniciar(iban,currency,amount,amountOrg,concept,other_iban,email,otp,saldo,exp,other_name)
      {
        console.log("DOTransfenciac iniciar con iban:" + iban );
        console.log("DOTransfenciac iniciar con otp:" + otp );
        console.log("DOTransfenciac iniciar con exp:" + exp );
        this.showImporteOrg="";
        this.clave="";
        this.iban=iban;
        this.divisa=currency;
        this.amount=amount;
        this.amountOrg=amountOrg;
        this.concepto=concept;
        this.ibanB=other_iban;
        this.otp=otp;
        this.exp=exp;
        this.email=email;
        this.saldo=saldo;
        this.other_name=other_name;
        // console.log ("nombrwe " + this.other_name);
        // console.log ("amountOrg " + this.amountOrg);
        // console.log ("divisa " + this.divisa);
        if (this.divisa!=null && this.divisa!="EUR")
        {
            this.showImporteOrg="Importe en divisa original: " + number_format(this.amountOrg,2) + " " + this.divisa;
        }

      }

      modify()
      {
        var data = {
          "iban" : this.iban,
          "currency": this.divisa,
          "amount": this.amount,
          "amountOrg": this.amountOrg,
          "concept": this.concepto,
          "other_iban": this.ibanB,
          "email" : this.email,
          "saldo": this.saldo,
          "other_name" : this.other_name
        }
        //this.dispatchEvent(new CustomEvent("eventooperacionok", {}));
        this.dispatchEvent(new CustomEvent("eventomodtransfer", data));

      }

      lanzaTransferencia(){
        // console.log("El usuario ha pulsado el boton");
        // console.log ("nombrwe " + this.other_name);
          if (this.clave != this.otp)
          {
            // console.log("OTP incorrecta " + this.clave + " " + this.otp);
            this.dispatchEvent(new CustomEvent("eventooperacionko", {"detail":{"mensaje":"OTP incorrecta"}}));
          }
          else{

            var data = {
              "iban" : this.iban,
              "currency": this.divisa,
              "amount": this.amount,
              "concept": this.concepto,
              "other_iban": this.ibanB,
              "email" : sessionStorage.getItem("email"),
              "exp": this.exp,
              "orig_currency": this.divisa,
              "orig_amount": this.amountOrg,
              "other_name" : this.other_name
            };
            //console.log(this.$.fromm.value);
            console.log(data);
            var token =sessionStorage.getItem("token");
            console.log("token " + token);
            this.$.doTransferenciac.headers.token = token;
            this.$.doTransferenciac.body = JSON.stringify(data);
            this.$.doTransferenciac.generateRequest();
            console.log("Petición enviada");
          }
      }

      manageAJAXResponse(data){
        console.log("do-transferenciac Recibida respuesta del servidor " + data.detail.status );
        if (data.detail.status==200)
        {
          console.log(data.detail.response);
          this.dispatchEvent(new CustomEvent("eventooperacionok", {}));
        }
        else {
          this.dispatchEvent(new CustomEvent("eventooperacionko", {"detail":{"mensaje":"Error en transferencia"}}));

        }
      }

      showError(error){
        console.log("Recibido error del servidor");
        //this.mensaje = "Error en cambio de clave";
        console.log(error);
        if (error.detail.request.xhr.response.msg =="401")
          this.dispatchEvent(new CustomEvent("eventotokenexpirado"));
        else
          this.dispatchEvent(new CustomEvent("eventooperacionko", {"detail":{"mensaje":error.detail.request.xhr.response.msg}}));

      }

      irTraspaso(e)
      {
          console.log("DoTransferenciac: irTraspaso");
          this.dispatchEvent(new CustomEvent("eventoirtraspaso"));
      }

      irRetirada(e)
      {
          console.log("DoTransferenciac: irRetirada");
          this.dispatchEvent(new CustomEvent("eventoirretirada"));
      }

      irIngreso(e)
      {
          console.log("DoTransferenciac: irIngreso");
          this.dispatchEvent(new CustomEvent("eventoiringreso"));
      }

      formatearImporte(dato)
      {
        return (number_format(dato,2));
      }

    }



    window.customElements.define(DoTransferenciac.is,DoTransferenciac);
  </script>
</dom-module>
