<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="externa-bolsa">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <div class="jumbotron">
     <h1>API externa de Bolsa</h1>
   </div>

   <div><a id="widgetIFB" href="http://www.infobolsa.es/cotizacion/ibex_35">Cotización Ibex 35</a><script type="text/javascript" src="http://www.infobolsa.es/widgets/instrumentDetail/ibex35"></script></div>
<button class="btn btn-info" on-click="volver">Volver</button>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ExternaBolsa extends Polymer.Element {
     static get is() { return 'externa-bolsa'; }
     static get properties() {
       return {
         userid: {
           type: Number
         }
       };
     }

     volver(e)
     {
       this.dispatchEvent(new CustomEvent("eventoclosebolsa", {}));
     }
   }

   window.customElements.define(ExternaBolsa.is, ExternaBolsa);
 </script>
</dom-module>
