<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="do-ingreso">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
         <h4 class="col-md-12 col-xs-12">&nbsp;&nbsp;
         <button class="btn btn-outline-primary" on-click="irTraspaso">Traspaso</button>
         <button class="btn btn-outline-primary" on-click="irTransferencia" >Transferencia</button>
         <button class="btn btn-outline-primary" on-click="irRetirada">Retirada</button>
         <button class="btn btn-primary">Ingreso</button>
    </div>




  <div class="col-md-12 order-md-1">
    <strong class="d-block text-gray-dark"><FONT COLOR="red">{{msgError}}</FONT></strong>

  <div class="needs-validation" novalidate>
    <div class="row">
      <div class="col-md-6 mb-3" align=left>
        <label for="firstName">Importe (EUR)</label>
        <input type="number" name="amount" placeholder="Importe en EUR" class="form-control" required autofocus value="{{amount::input}}"/>
      </div>
      <div class="col-md-6 mb-3" align=left>
        <label for="lastName">Concepto</label>
        <input type="text" name="concepto"  placeholder="Concepto" class="form-control" value="{{concepto::input}}"  />
       </div>

     </div>
   </div>

     <!-- <button class="btn btn-primary btn-lg btn-block" on-click="lanzaIngreso">Confirmar</button> -->
     <button class="btn btn-success" on-click="lanzaIngreso">Confirmar</button>

  </div>


<iron-ajax
  id="doIngreso"
  url="[[servidor]]/apitechu/v2/makeIncome"
  content-type="application/json"
  method="POST"
  handle-as="json"
  on-response="manageAJAXResponse"
  on-error="showError">
</iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DoIngreso extends Polymer.Element {
      static get is() { return 'do-ingreso'; }
      static get properties() {
        return {
          iban : {
            type : String
          },
          alias : {
            type : String
          },
          saldo: {
            type: Number
          },
          divisa : {
            type : String,
            value: "EUR"
          },
          concepto : {
            type : String
          },
          amount: {
            type: Number
          },
          msgError : {
            type : String,
            value :""
            },
          servidor: {
            type: String,
            value : obtenerURL()
          }
        }
      }

      iniciar(iban,alias,saldo)
      {
        console.log("DoIngreso iniciar con iban:" + iban + "y saldo: " + saldo );
        this.msgError= "";
        this.iban = iban;
        this.saldo = saldo;
        this.alias=alias;
        this.amount="";
        this.concepto="";
      }

      lanzaIngreso(){
        console.log("El usuario ha pulsado el boton");
        this.msgError= "";
      if ( this.amount != null && this.amount>0)
      {
          var data = {
            "iban" : this.iban,
            "currency": this.divisa,
            "amount": this.amount,
            "concept": this.concepto
          };
          var token =sessionStorage.getItem("token");
          console.log("token " + token);
          this.$.doIngreso.headers.token = token;
          this.$.doIngreso.body = JSON.stringify(data);
          this.$.doIngreso.generateRequest();
          console.log("Petición enviada");
        }
        else{
            this.msgError= 'Debe informar todos los campos';
            console.log("Debe informar todos los campos");
        }
    }

      manageAJAXResponse(data){
        console.log("do-ingreso Recibida respuesta del servidor " + data.detail.status );
        if (data.detail.status==200)
        {
          console.log(data.detail.response);
          this.dispatchEvent(new CustomEvent("eventooperacionok", {}));
        }
        else {
          this.dispatchEvent(new CustomEvent("eventooperacionko", {"detail":{"mensaje":"Error en ingreso"}}));

        }
      }

      showError(error){
        console.log("Recibido error del servidor");
        console.log(error);
        if (error.detail.request.xhr.response.msg =="401")
          this.dispatchEvent(new CustomEvent("eventotokenexpirado"));
        else
          this.dispatchEvent(new CustomEvent("eventooperacionko", {"detail":{"mensaje":error.detail.request.xhr.response.msg}}));

      }

      irTraspaso(e)
      {
          console.log("DoIngreso: irTraspaso");
          this.msgError= "";
          this.dispatchEvent(new CustomEvent("eventoirtraspaso"));
      }

      irRetirada(e)
      {
          console.log("DoIngreso: irRetirada");
          this.msgError= "";
          this.dispatchEvent(new CustomEvent("eventoirretirada"));
      }

      irTransferencia(e)
      {
          console.log("DoIngreso: irTransferencia");
          this.msgError= "";
          this.dispatchEvent(new CustomEvent("eventoirtransferencia"));
      }

    }



    window.customElements.define(DoIngreso.is,DoIngreso);
  </script>
</dom-module>
