<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="add-user">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link href="https://getbootstrap.com/docs/4.1/examples/checkout/form-validation.css" rel="stylesheet">

    <strong class="d-block text-gray-dark"><FONT COLOR="red">{{msgError}}</FONT></strong>

    <div class="col-md-12 order-md-1">
         <h4 class="mb-3">Alta usuario</h4>
         <div class="needs-validation" novalidate>
           <div class="row">
             <div class="col-md-6 mb-3" align=left>
               <label for="firstName">NIF</label>
               <input type="text" name="nif" placeholder="NIF" class="form-control" required value="{{nif::input}}"/>
             </div>
             <div class="col-md-6 mb-3" align=left>
               <label for="lastName">Email</label>
               <input type="email" name="email" placeholder="Email" class="form-control" required value="{{email::input}}"/>
              </div>
             <div class="col-md-6 mb-3" align=left>
               <label for="lastName">Nombre</label>
               <input type="text" name="first_name" placeholder="Nombre" class="form-control" required="required" value="{{first_name::input}}" data-validation-required-message="Please enter your name." />
              </div>
              <div class="col-md-6 mb-3" align=left>
                <label for="lastName">Apellido</label>
                <input type="text" name="last_name" placeholder="Apellido" class="form-control" required value="{{last_name::input}}"/>
               </div>

                <div class="col-md-6 mb-3" align=left>
                  <label for="lastName">Password</label>
                  <input type="password" name="password"  placeholder="Password" class="form-control" value="{{password::input}}" required />
                 </div>
                 <div class="col-md-6 mb-3" align=left>
                   <label for="lastName">Repita password</label>
                   <input type="password" name="password1"  placeholder="Password" class="form-control" value="{{password1::input}}" required />
                  </div>
           </div>
         </div>

           <button class="btn btn-success" on-click="add">Alta Usuario</button>
           <button class="btn btn-error " on-click="volver"> Volver </button>
      </div>



<!--url="http://rutapi-techugargallo.1d35.starter-us-east-1.openshiftapps.com/apitechu/v2/login"-->
      <iron-ajax
        id="doAdd"
        url="[[servidor]]/apitechu/v2/AddUser"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AddUser extends Polymer.Element {
      static get is() { return 'add-user'; }
      static get properties() {
        return {
          nif:{
            type: String},
          email: {
            type: String},
          password: {
            type: String},
          password1: {
            type: String},
          first_name: {
            type: String},
          last_name: {
            type: String},
          msgError : {
            type : String,
            value :""
            },
          servidor: {
            type: String,
            value : obtenerURL()
          }
        };
      }

      add()
      {
        this.msgError="";
        console.log("El usuario ha pulsado el boton");

      if ( this.nif != null  && this.nif != "" && this.first_name != null && this.first_name != "" && this.last_name != null && this.last_name != ""&& this.email != null && this.email != "" && this.password != null  && this.password1 != null  && this.password1 != "" && (this.password == this.password1))
      {
        var emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
         //Se muestra un texto a modo de ejemplo, luego va a ser un icono
         if (emailRegex.test(this.email)) {

                     var newUser = {
                         "nif": this.nif,
                         "first_name": this.first_name,
                         "last_name": this.last_name,
                         "email" : this.email,
                         "password": this.password,
                         "password1": this.password1,
                   };
                   this.$.doAdd.body = JSON.stringify(newUser);
                   this.$.doAdd.generateRequest();
                   console.log("Petición enviada");
         } else {
           this.msgError= 'Debe informar un email correcto';
         }
      }
      else
      {
        this.msgError= 'Debe informar todos los campos y las contraseñas deben ser iguales';
      }
    }


      volver(){
        this.msgError="";
        //console.log("Recibida respuesta del servidor " + data.detail.status );
        this.dispatchEvent(new CustomEvent("eventoadduservolver", {}));
        }
      manageAJAXResponse(data){
        //console.log("Recibida respuesta del servidor " + data.detail.status );
        if (data.detail.status==200)
        {
          console.log(data.detail.response);
          // this.mensaje = data.detail.response.msg;
          // this.isChanged = true;
          // this.mensaje = JSON.stringify(data.detail.response).msg;
          this.dispatchEvent(new CustomEvent("eventoadduserok", {}));
        }
        else {
          this.dispatchEvent(new CustomEvent("eventoadduserko", {"detail":{"mensaje":"Error en alta usuario"}}));

        }
      }

      showError(error){
        console.log("Recibido error del servidor");
        console.log(error);
        this.dispatchEvent(new CustomEvent("eventoadduserko", {"detail":{"mensaje":error.detail.request.xhr.response.msg}}));

      }
    }
    window.customElements.define(AddUser.is,AddUser);
  </script>
</dom-module>
